@font-face {
  font-family: "brandon-grot-w01-light";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/brandon-grot-w05-light.woff2") format("woff2");
  unicode-range: U+0100-0130, U+0132-0151, U+0154-015F, U+0162-0177, U+0179-017C,
    U+01FA-01FF, U+0218-021B, U+0237, U+02C7, U+02C9, U+02D8-02DB, U+02DD,
    U+037E, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03CE, U+0400-045F,
    U+0490-0491, U+1E80-1E85, U+1E9E, U+1EF2-1EF3, U+2044, U+2070, U+2074-2079,
    U+2080-2089, U+20B4, U+20BD, U+2113, U+2117, U+2126, U+212E, U+2153-2154,
    U+215B-215E, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+2219-221A,
    U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+F8FF, U+FB01-FB02;
  font-display: swap;
}
@font-face {
  font-family: "brandon-grot-w01-light";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/brandon-grot-w01-light.woff2") format("woff2");
  unicode-range: U+0002, U+0009-000A, U+000D, U+0020-007E, U+00A0-00FF, U+0131,
    U+0152-0153, U+0160-0161, U+0178, U+017D-017E, U+0192, U+02C6, U+02DC,
    U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030,
    U+2039-203A, U+20AC, U+2122;
  font-display: swap;
}
@font-face {
  font-family: "din-next-w01-light";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/din-next-w10-light.woff2") format("woff2");
  unicode-range: U+0401-040C, U+040E-044F, U+0451-045C, U+045E-045F, U+0490-0491,
    U+2116;
  font-display: swap;
}
@font-face {
  font-family: "din-next-w01-light";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/din-next-w02-light.woff2") format("woff2");
  unicode-range: U+000D, U+0100-010F, U+0111-0130, U+0132-0151, U+0154-015F,
    U+0162-0177, U+0179-017C, U+01FA-01FF, U+0218-021B, U+0237, U+02C9,
    U+02D8-02D9, U+02DB, U+02DD, U+0394, U+03A9, U+03C0, U+1E80-1E85,
    U+1EF2-1EF3, U+2070, U+2074-2079, U+2080-2089, U+2113, U+2126, U+212E,
    U+2153-2154, U+215B-215E, U+2202, U+2206, U+220F, U+2211-2212, U+2215,
    U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+F8FF,
    U+FB00-FB04;
  font-display: swap;
}
@font-face {
  font-family: "din-next-w01-light";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/din-next-w01-light.woff2") format("woff2");
  unicode-range: U+0020-007E, U+00A0-00FF, U+0110, U+0131, U+0152-0153,
    U+0160-0161, U+0178, U+017D-017E, U+0192, U+02C6-02C7, U+02DA, U+02DC,
    U+03BC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030,
    U+2039-203A, U+2044, U+20AC, U+2122;
  font-display: swap;
}
@font-face {
  font-family: "helvetica-w01-light";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/fontshelvetica-w02-light.woff2") format("woff2");
  unicode-range: U+0100-012B, U+012E-0137, U+0139-0149, U+014C-0151, U+0154-015F,
    U+0162-0177, U+0179-017C, U+0218-021B, U+0237, U+02C7, U+02C9, U+02D8-02DB,
    U+02DD, U+0394, U+03A9, U+03BC, U+03C0, U+2044, U+2113, U+2126, U+212E,
    U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+2219-221A, U+221E, U+222B,
    U+2248, U+2260, U+2264-2265, U+25CA, U+E002, U+E004, U+E006, U+E008-E009,
    U+E00D, U+E00F, U+E011, U+E013, U+E015, U+E017, U+E01A, U+FB01-FB02;
  font-display: swap;
}
@font-face {
  font-family: "helvetica-w01-light";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/fontshelvetica-w01-light.woff2") format("woff2");
  unicode-range: U+000D, U+0020-007E, U+00A0-00FF, U+0152-0153, U+0160-0161,
    U+0178, U+017D-017E, U+0192, U+02C6, U+02DC, U+2013-2014, U+2018-201A,
    U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+20AC, U+2122;
  font-display: swap;
}
@font-face {
  font-family: "didot";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/didot.ttf") format("truetype");
  font-display: swap;
}

.font-brandon {
  font-family: "brandon-grot-w01-light", sans-serif;
}

.font-din {
  font-family: "din-next-w01-light", sans-serif;
}

.font-didot {
  font-family: "didot", sans-serif;
}

.font-helvetica {
  font-family: "helvetica-w01-light", sans-serif;
}
